@model IEnumerable<TrashCollectorProject.Models.Account>

<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2> Customer Home-Page</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-info form-control text-white">Change Weekly Pickup</a>
    </div>
    <div class="col-3">
        <a class="btn btn-info form-control text-white">Schedule One Time Pickup</a>
    </div>
</div>
